body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
}

button {
    padding: 10px 15px;
    margin-bottom: 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

h1, h2 {
    margin-top: 20px;
}
